ul.container div.user-info {
  display: flex;
  margin: 20px 0 0 20px;
}

ul.container div.user-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

ul.container div.user-info div {
  display: flex;
  flex-direction: column;
}

ul.container div.user-info div strong {
  font-size: 14px;
  color: #4a4a4a;
}

ul.container div.user-info div span {
  font-size: 11px;
  color: #9a9a9a;
}

ul.container p {
  font-size: 14px;
  color: #3e3e3e;
  padding: 15px 20px 0 20px;
  line-height: 22px;
  max-width: 660px;
}