<div style="display: flex; align-items: center; justify-content: center; width: 100%; color: #EE4D64;">
<h1>GymPoint</h1>
</div>
<strong>Olá, {{ student }}</strong>

<p>Obrigado por entrar em contado, confira os detalhes de seu pedido abaixo:</p>
<p>
  <strong> {{ question }} </strong> <br />
  {{ answer }} <br /><br />
  <small>Se ainda restarem duvidas, favor criar um novo pedido.</small>
  <h4>Horario de funcionamento:</h4>
  <small>
    <strong>Segunda a sexta:</strong> 06:00 - 22:00 <br />
    <strong>Sabados e domingos:</strong> 08:00 - 18:00
  </small>
</p>
